{{#each this}}
<h1 class="country-card-title">{{name}}</h1>
<div class="country-card">
    <div class="country-card-content">
        <p><b>Capital:</b> {{capital}}</p>
        <p><b>Population:</b> {{population}} people</p>
        <ul class="country-card-lng">
            <p><b>Languages:</b></p>
            {{#each this.languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="country-card-flag">
        <img src="{{flag}}" alt="flag" height="200">
    </div>
</div>
{{/each}}